<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="td.news.mapper.TD_CP_News.BannerMapper">

    <select id="listByCode" resultType="td.news.mapper.TD_CP_News.dbo.DbNews">
        select
        top 50 n.*
        FROM
        TD_CP_News.dbo.t_news n
        INNER JOIN TD_CP_News.dbo.t_newstype t ON t.id = n.typeid and t.State = 1
        WHERE
        n.state = 1
        AND t.code = #{code}
        AND (getdate() BETWEEN n.StartTime AND n.EndTime)
        and (n.AppCode is null or n.AppCode = '' or n.AppCode like '%,'+ #{appCode}+',%')
        <if test="channel != null and channel !=''">
            and (n.AppStore is null or n.AppStore = '' or n.AppStore like '%,'+ #{channel}+',%')
        </if>
        <if test="cityName != null and cityName !=''">
            and (n.cityName is null or n.cityName = '' or n.cityName like '%,'+ #{cityName}+',%')
        </if>
        <if test="UserTags != null and UserTags !=''">
            and (n.UserTags is null or n.UserTags = '' or n.UserTags like '%,'+ #{UserTags}+',%')
        </if>
        <if test="LotteryID != null and LotteryID !=''">
            and n.LotteryID = #{LotteryID}
        </if>
        ORDER BY
        isnull(n.OrderNo,0) asc, n.createtime desc, n.id desc
    </select>

    <select id="listAllAvailableBanner" resultType="td.news.mapper.TD_CP_News.dbo.DbNews">
        select
        n.*
        FROM
        TD_CP_News.dbo.t_news n
        INNER JOIN TD_CP_News.dbo.t_newstype t ON t.id = n.typeid and t.State = 1
        WHERE
        n.state = 1
        AND t.code = #{code}
        AND (getdate() BETWEEN n.StartTime AND n.EndTime)
        ORDER BY
        isnull(n.OrderNo,0) asc, n.createtime desc, n.id desc
    </select>

    <select id="listAllBanner" resultType="td.news.mapper.TD_CP_News.dbo.DbNews">
        select
        n.*,t.code AS  code
        FROM
        TD_CP_News.dbo.t_news n
        INNER JOIN TD_CP_News.dbo.t_newstype t ON t.id = n.typeid and t.State = 1
        WHERE
        n.state = 1

    </select>


    <select id="findAllAnnouncement" resultType="td.news.mapper.TD_CP_News.dbo.DbNews">
        select
        n.*,t.code AS  code
        FROM
        TD_CP_News.dbo.t_news n
        INNER JOIN TD_CP_News.dbo.t_newstype t ON t.id = n.typeid and t.State = 1
        WHERE
        n.state = 1
        AND t.code = #{code}

    </select>
</mapper>